#container {
    width: auto;
    margin: 2%;
}

body {
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color:white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.inline-block, ul, li {
    display: flex;
    justify-content: flex-end;
}

li {
    display: flex;
    justify-content: flex-end;
    padding: 25%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    padding: 0px;

}

img {
    float: right; 
    margin: 5px;
    padding: 15px 15px 15px 15px;

}

p {
    display: flex;
    text-align: left;
    font-size: 13px;
    font-family: Sanchez, serif;
    flex-wrap: nowrap;
    padding: 24px;
}

button {
    display: flex;
    margin: 20px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20pt;
    background-color: #005D6C;
    color: white;
    border: white;

}

footer{ 
    background-color: hsl(331, 19%, 45%); 
}

footer, ul, li {
    display: flex;
    justify-content: flex-start;
    align-items: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: white;
}

/* font-family: 'Sanchez', serif;