#container {
    width: auto;
    margin: 2%;
}

body {
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color:white;
}

header {
    display: flex;
    background-color: white;
    width: 100%;
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin: 0px;
    width: 100%;
}

nav a {
    text-decoration: none;
    font-family: 'Noto-sans', sans-serif;
    color: black;
}

.menu {
    display: flex;
    align-content: flex-end;
}

.work, .about {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
}

img {
    float: right; 
    margin: 5px;
    padding: 15px 15px 15px 15px;

}

p {
    display: flex;
    text-align: left;
    font-size: 13px;
    font-family: Sanchez, serif;
    flex-wrap: nowrap;
    padding: 24px;
}

button {
    display: flex;
    margin: 20px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #005D6C;
    color: white;
    border: white;

}

footer{ 
    background-color: hsl(331, 19%, 45%); 
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    margin: 0%;
    height: 40px;
    width: 100%;
    align-items: center;
    background-color: hsl(331, 19%, 45%);
    font-family: 'Noto Sans', sans-serif;
}

footer, .contact {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* font-family: 'Sanchez', serif;